# Tensorflow

In [13]:
# Importing libraries

import tensorflow as tf
import numpy as np
import pandas as pd

In [14]:
# Reading the dataset and seprating the independent and dependent variable

dataset = pd.read_csv('data.csv')

X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,1].values

dataset

    Height  Weight
0     1.47   52.21
1     1.50   53.12
2     1.52   54.48
3     1.55   55.84
4     1.57   57.20
5     1.60   58.57
6     1.63   59.93
7     1.65   61.29
8     1.68   63.11
9     1.70   64.47
10    1.73   66.28
11    1.75   68.10
12    1.78   69.92
13    1.80   72.19
14    1.83   74.46

In [15]:
# Stack of layers to build network

model = tf.keras.Sequential([tf.keras.layers.Dense(units=64, activation='relu', input_shape=[1,]),
                             tf.keras.layers.Dense(units=16, activation='relu'),
                             tf.keras.layers.Dense(units=1)
])

In [16]:
# Compute loss, apply optimizer and evaluate mertrics

model.compile(loss='mean_squared_error', optimizer=tf.keras.optimizers.RMSprop(0.01), metrics = ['mean_absolute_error'])

In [17]:
# Fit the model 

history = model.fit(X, y, epochs = 900, verbose = False)

In [18]:
# Get the model history

hist = pd.DataFrame(history.history)
hist['epoch'] = history.epoch
hist.tail()

         loss  mean_absolute_error  epoch
895  5.816786             1.703194    895
896  5.602781             2.176415    896
897  5.802931             1.702786    897
898  5.588890             2.174391    898
899  5.789174             1.702383    899

In [19]:
# Predict the model with the user given input

model.predict([1.76])

array([[69.237724]], dtype=float32)